# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/

# Virtual environment
.venv/

# Test and coverage
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Python language server
.pylint.d/
.pylint/

# Logs
*.log

# Local configuration files
*.local

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# environment variables
.env